# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#for reference only
*.pdf

serviceAccountKey.json
firebaseServiceAccountKey.json
gen-lang-client-0411497779-9d3bd59fc84a.json